@use "sass:map"; //Other variables
$fsize: 16px;


//defie a color map
$colors: (
  "primary-color": #84B84B,
  "darkPrimary-color": #53a100,
  "secondary-color": #123052,
  "darkSecondary-color": #001329,
  "text-white": #fff,
  "label-color":#999999,
  "black-color": #000,
);

//loop colours
@each $color-name, $color-value in $colors {
  .bg-#{$color-name} {
    background-color: $color-value;
  }
  .text-#{$color-name} {
    color: $color-value;
  }
  .border-#{$color-name} {
    border: 1px solid $color-value;
  }
}

//examples using
/**
<div className="bg-primary text-white p-3"></div>
<div className="border-white p-3"></div>
**/

//Font Weights Map
$font-weights: (
  "light": 300,
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);

//Loop $weight-name, $weight-value in $font-weights
@each $weight-name, $weight-value in $font-weights {
  .font-#{$weight-name} {
    font-weight: $weight-value;
  }
}
//<p className="font-light">This text has a light font weight.</p>

//device breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);
