@use "sass:map";
@use "sass:color";
@use "./mixins" as m;
@use "./mixins" as *;
@use "./variables" as v;
@use "./header";
@use "./footer";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.navbar-toggler-icon{
  background:map.get(v.$colors, "secondary-color");
  border-radius:5px;
  padding:10px;
  width:auto;
  height: auto;
  i.bi{
    &:before{
      color:map.get(v.$colors, "white-color");
    }
  }
}

body {
    @include m.siteMain;    
    background:map.get(v.$colors, "text-white");
  
    a {
      text-decoration: none;
      cursor: pointer;
    }
  
    ul, li{
      list-style: none;
      margin:0;
      padding:0;
    }
    .btn-green {      
      padding: 12px 30px;
      border-radius: 5px;
      background: map.get(v.$colors, "primary-color");
      @include m.transition(all, 0.3s, ease);
    
      span {
        &:after {
          content: "\F138";
          font-family: bootstrap-icons;
          position: relative;
          top: 3px;
          left: 3px;
        }
      }
      &:hover {
        background: color.adjust(
          map.get(v.$colors, "darkPrimary-color"),$lightness: -10%);
      }
    }

    .btn-blue {      
      padding: 12px 30px;
      border-radius: 5px;
      background: map.get(v.$colors, "secondary-color");
      @include m.transition(all, 0.3s, ease);
    
      span {
        &:after {
          content: "\F138";
          font-family: bootstrap-icons;
          position: relative;
          top: 3px;
          left: 3px;
        }
      }
      &:hover {
        background: color.adjust(
          map.get(v.$colors, "darkSecondary-color"),
          $lightness: -10%
        );
      }
    }

    .btn-border {      
      padding: 12px 30px;
      border-radius: 5px;
      background: transparent;
      @include m.transition(all, 0.3s, ease);
      border:1px solid map.get(v.$colors, "label-color");
      color:map.get(v.$colors, "secondary-color");
    
      span {
        &:after {
          content: "\F138";
          font-family: bootstrap-icons;
          position: relative;
          top: 3px;
          left: 3px;
        }
      }
      &:hover {
        background: color.adjust(
          map.get(v.$colors, "darkSecondary-color"),
          $lightness: -10%
        );
        color:map.get(v.$colors, "text-white");
      }
    }


    h1, h2, h3, h4, h5, h6{
      line-height: 140%;
      margin:0;
      padding:0;
    }
    p{
      font-size:0.96rem;
      line-height: 180%;
    }
}

.swiper-pagination-bullet{
  border-radius:0;
  width:30px;
  height: 3px;
  background:map.get(v.$colors, "primary-color");  
}

.homeBanner{
  background: linear-gradient(256deg, rgba(168, 237, 234, 0.27) 0%, rgba(254, 214, 227, 0.37) 100.75%);
  padding:150px 0 50px 0;
  position: relative;

  .img-banner{
    border-top-left-radius: 450px;
    border-bottom-left-radius:450px;
    border-top-right-radius: 450px; 
    width:98%;  
    padding:15px 0;  

    &:before{
      content:'';
      border-radius: 415px 411px 0px 418.5px;
      background: linear-gradient(197deg, #1C005E 7.84%, #522122 88.17%);
      position: absolute;
      top:0;
      left:0;
      right:0;
      width:98%;
      height: 98%;
      z-index: 0;
    }

    img{
      border-top-left-radius: 450px;
      border-bottom-left-radius:450px;
      border-top-right-radius: 450px; 
      width:98%;
      z-index: 2;
      position: relative;
    }
  }
  article{
    .bannerTitle{
      font-size:clamp(1.5rem, 2.5vw, 2.5rem);    

      @include respond-below(map.get(v.$breakpoints, "md")){
        text-align:center;
        padding-bottom:20px;
      }
        
    }  
    h5{
      font-weight: map.get(v.$font-weights, semibold);
      position: relative;
      font-size:clamp(1rem, 1.5vw, 1.5rem);

      @include respond-below(map.get(v.$breakpoints, "md")){
        text-align:center;
        padding-bottom:10px;
      }
      &:before{
        content:'';
        position: absolute;
        top:-15px;
        left:0;
        width:110px;
        height: 4px;       
      }
    }
  }   

  .bannerTag{
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;  
    color:transparent;
    font-size: clamp(1.5rem, 15vw, 15rem);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -6px;
    text-transform: uppercase;
    position: absolute;
    top:-25px;
    left:0;
    opacity:0.08;

    @include respond-below(map.get(v.$breakpoints, "md")) {
      display: none;
    }
  }
}

.homeSection{
  padding:5rem 0;

  @include respond-below(map.get(v.$breakpoints, "md")){
    padding:2rem 0;
  }
}

.AboutIntro{
  .homeAboutImage{
    border:10px solid map.get(v.$colors, "text-white");
    width:100%;
  }
  .image2{
    position:absolute;
    bottom:-25px;
    left:-50px;
    

    @include respond-below(map.get(v.$breakpoints, "md")){
      position: relative;
      bottom:0;
      left:0;
      margin-top:10px;
    }
  }
  h2{
    font-size:clamp(1.5rem, 3vw, 3rem)
  }
  h5{
    font-size:clamp(1.3rem, 1.5vw, 1.5rem);
  }
}

.serviceSection{
  background: linear-gradient(257deg, rgba(255, 255, 255, 0.29) 0%, rgba(251, 194, 235, 0.21) 100%);

  h2{
    font-size:clamp(1.5rem, 3vw, 3rem)
  }

  .cardsRow{
    padding-top:50px;

    .serviceCard{
      @include m.transition(all, 0.3s, ease);
      figure{
        img{
          border-radius:15px;
        }
      }
      article{
        border-radius: 15px 15px 0px 0px;
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
         top:0;
         left:0;
         right:0;             
         
         h3{
          font-size:18px;
          @include m.transition(all, 0.3s, ease);
         }
      }
      &:hover{
        h3{
          color:map.get(v.$colors, "primary-color")!important;
        }
      }
      span{
        width:50px;
        height: 50px;
        padding:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom:-5px;
        right:-5px;
        background: map.get(v.$colors, "primary-color");
        border:7px solid map.get(v.$colors, "text-white");
        box-sizing: border-box;

        i{
          color:map.get(v.$colors, "text-white");
        }
      }
    }
  } 
}

.sectiontitle{
  font-size:clamp(1.3rem, 1.8vw, 1.8rem);  

  &:before{
    content:'';
    width:48px;
    height: 3px;
    background:map.get(v.$colors, "primary-color");
    position:absolute;
    top:-10px;
    left:0;
  }
}

.whyChooseSection{  
    .whyrow{   
      @include respond-below(map.get(v.$breakpoints, "md")){
        padding:25px 0;
      }
      .icon{
        width:60px;
        height: 60px;
        background:map.get(v.$colors, "primary-color");        
        margin-right:20px;
        border-radius:50%;       

        i{
          font-size:25px;
        }
      }
      p{
        font-size:13px;
        @include respond-below(map.get(v.$breakpoints, "md")){
          text-align: center;
        }
      }
      h6{
        font-size:clamp(0.9rem, 1.1vw, 1.1rem); 

        @include respond-below(map.get(v.$breakpoints, "md")){
          text-align: center;
          padding-top:15px;
        }
      }

      &:nth-child(1){
        .icon{
          background:#E3E8FF;
        }
      }
      &:nth-child(2){
        .icon{
          background:#FFF9E3;
        }
      }
      &:nth-child(3){
        .icon{
          background:#FFEAE3;
        }
      }
      &:nth-child(4){
        .icon{
          background:#E5FFE3;
        }
      }
    }  
}

.blogSection{
  .blogCard{
    h5{
      font-size:clamp(0.9rem, 1vw, 1rem);
      line-height: 150%;
      @include m.transition(all, 0.3s, ease);
    }
    p{
      small{
        font-size:12px;
      }
    }

    &:hover{
      h5{
        color:map.get(v.$colors, "primary-color")!important;
      }
    }
  }
}

.contactSection{
background:url(../assets/images/questionbg.png)no-repeat center center;
min-height: 500px;

article{
  h5{
    font-size:clamp(1.3rem, 1.7vw, 1.7rem);
  }
 }
}

.Subpage{
  min-height: 500px;
 

  .subpageHeader{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(128, 255, 196, 0.1) 25%, rgba(213, 162, 255, 0.1) 60% );
    padding-top:12rem;
    padding-bottom:5rem;

    @include respond-below(map.get(v.$breakpoints, "md")){
      padding-top:8rem;
      padding-bottom:2rem;
    }
    h1{
      font-size:clamp(1.2rem, 2.5vw, 2.5rem);
    }
    h5{
      position:relative;
      font-size:clamp(1rem, 1.3vw, 1.3rem);

      &:before{
        content:'';
        position: absolute;
        top:-15px;
        left:0;
        width:110px;
        height: 4px;
        background: linear-gradient(90deg, #84B84B 0%, rgba(133, 255, 0, 0.00) 100%);

        @include respond-below(map.get(v.$breakpoints, "md")){
          display: none;
        }
      }
    }
    .BreadCrumb{
      @include respond-below(map.get(v.$breakpoints, "md")){
        display: none;
      }
      .breadcrumb-item{
        font-size:14px;
      }
    }
  }
  .subpageContent{
    padding:5rem 0;

    @include respond-below(map.get(v.$breakpoints, "md")){
      padding:2rem 0;
    }

    h2{
      font-size:clamp(1.3rem, 2vw, 2rem);
      color:map.get(v.$colors, secondary-color);
      font-weight: map.get(v.$font-weights, bold);
      padding-bottom:1rem;
      padding-top:1rem;
    }
    p{
      color: color.scale(map.get(v.$colors, "black-color"), $lightness: 5%);
    }

    .list-items{
      li{
        padding-bottom:1rem;
        color: color.scale(map.get(v.$colors, "black-color"), $lightness: 5%);
        font-size:0.96rem;
        line-height: 180%;
        position:relative;
        padding-left:30px;

        &:before{
          content:'\F270';
          font-family: bootstrap-icons;
          position: absolute;
          top:2px;
          left:0;
          font-size:20px;
          color:map.get(v.$colors, "primary-color");
        }
      }
    }
    .teampic{
      overflow: hidden;
      img{
        filter:grayscale(100%);   
        @include m.transition(all, 0.3s, ease);

        &:hover{
          transform: scale(1.05);
          filter:grayscale(0);   
        }
      }
    }
    .team-desc{
      h5{
        font-size:clamp(0.9rem, 1.2vw, 1.2rem)
      }
      p{
        font-size:13px;
      }
    }
  }
  .workRow{
    padding-bottom:2rem;
  }
}

.error-message{
  font-size:12px;
  color:red;
}

.form-group{
  &:placeholder{
    font-size:13px;
  }
  .form-control{
    min-height: 50px;;
  }
  .form-label{
    padding-bottom:5px;
    margin:0;
    font-size:14px;
  }
}

.addressarticle{
  width:300px;
}

.contactcols{
  padding-top:5rem;
}

.BlogArticle{
  h4{
    padding-bottom:10px;
    font-weight: map.get(v.$font-weights, semibold);
  }
  .list-items{
    padding-bottom:20px;
    li{
      padding-bottom:0.8rem;
    }
  }
}

